<ul>
	<li>
		<a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Contact</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/projects' | prepend: site.baseurl | prepend: site.url }}">Projects</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/tsankov-resume.pdf' | prepend: site.baseurl | prepend: site.url }}">Resume</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/research' | prepend: site.baseurl | prepend: site.url }}">Research</a><span>/</span>
	</li>
	<li>
		<a href="https://medium.com/@antsankov">Writing</a><span>/</span>
	</li>
</ul>
