<ul>
	<li>
		<a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/projects' | prepend: site.baseurl | prepend: site.url }}">Projects</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/resume_alexander_tsankov.pdf' | prepend: site.baseurl | prepend: site.url }}">Resume</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/research' | prepend: site.baseurl | prepend: site.url }}">Research</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/faq' | prepend: site.baseurl | prepend: site.url }}">FAQ</a><span>/</span>
	</li>
</ul>
